<div class="container">

    <form id="form">
        <div class="form-group form-box">
            <label for="Subject"></label>
            <input type="text" class="form-control" id="post-title" aria-describedby="textHelp"
                placeholder="Title" required="true">
        </div>
        <div  class="form-group form-box">
            <label for="comment"></label>
            <input type="text" class="form-control" id="post-body" placeholder="Comment" required="true">
        </div>

        <button id="btn-newpost" type="" class="btn">New Post</button>
    </form>
    {{!-- ----------------First card --}}
    {{#each category}}
    <div id="card" class="card ">
        <div id="card-header" data-id="{{category}}" class="card-header">
            {{title}}
        </div>
        <div id="card-body" class="card-body">
            <p class="card-text">{{body}}
            </p>
            <h5 class="date">{{createdAt}}</h5>
        </div>
        <div class="card-footer text-muted">
            <a href="/category/post/{{id}}" class="btn ">Comment</a>
        </div>
    </div>
    {{/each}}

</div>
<script>

    $("#btn-newpost").on("click", function (event) {
        event.preventDefault();

        var input = {
            category: $("#card-header").data("id"),
            title: $("#post-title").val().trim(),
            body: $("#post-body").val().trim()
        }

        console.log(input)

        $.ajax("/api/post/create", {
            method: "POST",
            data: input
        }).then(
            location.reload()
        )
    })
</script>

<link rel="stylesheet" href="/styles/category.css">